[submodule "lib/php-markdown"]
	path = lib/php-markdown
	url = https://github.com/michelf/php-markdown

[submodule "lib/HTMLForm"]
  path = lib/HTMLForm
  url = https://github.com/mosbth/cform
  branch = v2